### Emacs
\#*#
\.#*
*~

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
*Notes.bib
main.pdf
main.tar.gz

### other files produced during compilation
authors.tex
contributions.tex

### cookiecutter files
{{cookiecutter.folder_name}}.pdf
{{cookiecutter.folder_name}}.tar.gz